[flake8]
max-line-length = 79
max-complexity = 15
select = C,E,F,W,B,B950
ignore = E203,E501,W503,W601,E302,W605,B950,B023
exclude =
    .git,
    __init__.py,
    __pycache__,
    *.egg-info,
    .nox,
    .pytest_cache,
    .mypy_cache,
    tests,
    docs,
    examples,
    experiments
