absl-py==1.4.0 ; python_version >= "3.9" and python_full_version <= "3.13.0"
beartype==0.15.0 ; python_version >= "3.9" and python_full_version <= "3.13.0"
chex==0.1.82 ; python_version >= "3.9" and python_full_version <= "3.13.0"
cloudpickle==2.2.1 ; python_version >= "3.9" and python_full_version <= "3.13.0"
decorator==5.1.1 ; python_version >= "3.9" and python_full_version <= "3.13.0"
dill==0.3.7 ; python_version >= "3.9" and python_full_version <= "3.13.0"
dm-tree==0.1.8 ; python_version >= "3.9" and python_full_version <= "3.13.0"
gast==0.5.4 ; python_version >= "3.9" and python_full_version <= "3.13.0"
importlib-metadata==6.8.0 ; python_version >= "3.9" and python_version < "3.10"
jaxtyping==0.2.21 ; python_version >= "3.9" and python_full_version <= "3.13.0"
markdown-it-py==3.0.0 ; python_version >= "3.9" and python_full_version <= "3.13.0"
mdurl==0.1.2 ; python_version >= "3.9" and python_full_version <= "3.13.0"
ml-dtypes==0.2.0 ; python_version >= "3.9" and python_full_version <= "3.13.0"
numpy==1.25.2 ; python_version >= "3.9" and python_full_version <= "3.13.0"
opt-einsum==3.3.0 ; python_version >= "3.9" and python_full_version <= "3.13.0"
optax==0.1.7 ; python_version >= "3.9" and python_full_version <= "3.13.0"
plum-dispatch==2.2.1 ; python_version >= "3.9" and python_full_version <= "3.13.0"
pygments==2.16.1 ; python_version >= "3.9" and python_full_version <= "3.13.0"
rich==13.5.2 ; python_version >= "3.9" and python_full_version <= "3.13.0"
scipy==1.9.3 ; python_version >= "3.9" and python_full_version <= "3.13.0"
six==1.16.0 ; python_version >= "3.9" and python_full_version <= "3.13.0"
tensorflow-probability==0.21.0 ; python_version >= "3.9" and python_full_version <= "3.13.0"
toolz==0.12.0 ; python_version >= "3.9" and python_full_version <= "3.13.0"
typeguard==4.0.0 ; python_version >= "3.9" and python_full_version <= "3.13.0"
typing-extensions==4.5.0 ; python_version >= "3.9" and python_full_version <= "3.13.0"
zipp==3.16.2 ; python_version >= "3.9" and python_version < "3.10"
