@charset "utf-8";

/*-- scss:rules --*/

html {
  height: 100%;
  overflow-x: hidden;
}

body {
  font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans',
    Arial, sans-serif;
  font-weight: normal;
}

code {
  font-family: 'JetBrains Mono', ui-monospace, 'Cascadia Code',
    'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
  font-variant-ligatures: discretionary-ligatures;
}

img.img-fluid {
  margin: auto;
  display: block;
}
