.md-typeset h1,
.md-typeset h2,
.md-typeset h3,
.md-typeset h4,
.md-typeset h5,
.md-typeset h6 {
  font-weight: bold;
}

.md-typeset {
  font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans',
    Arial, sans-serif;
  font-weight: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');

.md-typeset code {
  font-family: 'Fira Code', ui-monospace, 'Cascadia Code',
    'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
  font-weight: 600;
}

.md-footer,
.md-source {
  font-weight: 600;
}

.md-content {
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
}

div.md-header__ellipsis {
  font-weight: bold;
}
