.md-typeset h1,
.md-typeset h2,
.md-typeset h3,
.md-typeset h4,
.md-typeset h5,
.md-typeset h6 {
  font-weight: bold;
}

.md-typeset {
  font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans',
    Arial, sans-serif;
  font-weight: normal;
}

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

.md-typeset code {
  font-family: 'JetBrains Mono', ui-monospace, 'Cascadia Code',
    'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
  font-weight: 900;
  font-variant-ligatures: discretionary-ligatures;
}

.md-footer,
.md-source {
  font-weight: 600;
}

.md-content {
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
}

div.md-header__ellipsis {
  font-weight: bold;
}
