@font-face {
  font-family: 'Berkeley Mono';
  font-weight: normal;
  src: local('Berkeley Mono'),
    url('../assets/font/BerkeleyMonoVariable-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Berkeley Mono';
  font-weight: normal italic;
  src: local('Berkeley Mono'),
    url('../assets/font/BerkeleyMonoVariable-Italic.ttf.ttf') format('truetype');
}
